---
import Layout from "@layouts/Layout.astro";

import headerSm from "@assets/images/header_sm.webp";
import headerMd from "@assets/images/header_md.webp";
import headerLg from "@assets/images/header_lg.webp";
import headerXl from "@assets/images/header_xl.webp";
---

<Layout title="Welcome to Astro.">
  <main>
    <section
      class="position-relative h-100vh display-flex flex-col justify-center items-center"
    >
      <div
        class={`
          position-absolute w-100% h-100%
          bg-cover bg-center z--110
          [background-image:--bg-img-url-sm]
          md:[background-image:--bg-img-url-md]
          lg:[background-image:--bg-img-url-lg]
          xl:[background-image:--bg-img-url-xl]
        `}
        style={{
          "--bg-img-url-sm": `url(${headerSm.src})`,
          "--bg-img-url-md": `url(${headerMd.src})`,
          "--bg-img-url-lg": `url(${headerLg.src})`,
          "--bg-img-url-xl": `url(${headerXl.src})`,
        }}
      >
      </div>
      <div
        class="position-absolute bg-gradient-to-t from-white via-primary-500/55 via-99% to-primary-500/80 w-100% h-100% z--100"
      >
      </div>
      <div>
        <h1 class="font-baloo">
          <span class="text-6xl text-cool-gray-500 font-700 display-block"
            >Hi!</span
          >
          <span
            class="text-7xl text-cool-gray-700 font-900 mt-6 mb-2 display-block"
            ><span class="text-cool-gray-500">I'm</span> John Doe</span
          >
        </h1>
        <p
          class="text-2xl font-300 uppercase tracking-widest text-cool-gray-700"
        >
          Frontend Web Developer
        </p>
        <a
          href="#"
          class="inline-block mt-10 py-2 px-6 bg-primary-500 text-white text-lg rounded-999px"
          >View My Works</a
        >
      </div>
    </section>
  </main>
</Layout>
